@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woof");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-extrabold";
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woof");
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

html,
body {
  background-color: #523365;
  color: white;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  text-align: center;
  transition: ease-in-out 0.4s;
}
/* HEADER */
.darkmode {
  background-color: transparent;
  font-size: 2.2rem;
  position: absolute;
  left: 2vw;
  top: 1vh;
}
.head {
  position: absolute;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: 10vw;
  padding: 2vh;
  width: 90vw;
  max-width: 90vw;
}

.nav__list li {
  display: inline;
  font-size: 1.1em;
  border-bottom: 0.15rem solid white;
  transition: border-color 0.5s;
}

.nav__list li:hover {
  border-color: #ac90bd;
}
/* HEADER END */

/* MAIN */
.bear {
  width: 25vmin;
}

.bear img {
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  max-width: 100vw;
}

.main h1 {
  font-family: open-sans-extrabold;
  font-size: 13vw;
}

.main p {
  font-size: 5vw;
  margin-top: 2vw;
}
/* MAIN END */

/* ABOUT */

.about {
  margin: 0 auto;
  padding: 3vh 0 0 0;
  text-align: justify;
  width: 90vw;
}
.about * {
  margin-bottom: 0.4rem;
}

.about h2 {
  font-size: 6.5vmin;
  text-align: end;
}

.about .my_name {
  font-family: open-sans-extrabold;
}

.about p {
  font-size: 5.2vmin;
}

.myself * {
  display: inline;
  margin: 0;
}

.myself img {
  float: left;
  margin: 0 2vw 0 0;
  width: 25vmin;
}

/* ABOUT END */
