@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woof");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-extrabold";
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woof");
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

html,
body {
  background-color: #523365;
  color: white;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  text-align: center;
}

/* HEADER */
.head {
  display: none;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 2vh;
}

.nav__list li {
  display: inline;
  font-size: 1.1em;
  /*border-bottom: 0.15rem solid white;*/
  transition: border-color 0.5s;
}

.nav__list li:hover {
  border-color: #ac90bd;
}
/* HEADER END */

/* MAIN */
.bear {
  width: 25vmin;
  margin: 0 auto;
}

.bear img {
  width: 100%;
}

.main {
  height: 100vh;
  position: absolute;
  text-align: center;
  width: 100vw;
}
.main * {
  display: block;
}

.main h1 {
  font-family: open-sans-extrabold;
  font-size: 13vw;
  opacity: 0.75;
  transition: opacity 1s ease-in-out;
}

.main h1:hover {
  opacity: 1;
}

.main p {
  margin-top: 2vw;
  font-size: 5vw;
}
/* MAIN END */
